__pycache__/
*.py[co]
/build
/dist
/wagtail_devtools.egg-info
/.coverage
/htmlcov
/.tox
/.venv
/venv
/.vscode
/site
/test_wagtail_devtools*.db
/node_modules
/test-static
/test-media
/sandbox.db
/media
/sandbox
api_fixtures.json
